{% extends "align/header.html" %}

{% block content %}

<div id='tutorial'>
	<div class='row'>
		<div class="col-md-12" id="title">
			<h2 align="center">Tutorial<br></h2>
		</div>
	</div>

	<div class="well">

		<div class='row'>
			<div class="col-md-12" id="sec1head">
				<h3 align="left">What is HAMSTR?</h3>
			</div>
		</div>

		<div class='row'>
			<div class="col-md-12" id="sec1body">
				<p align="justified">To be continued when more of the group project is written up to guide the user. We (I) need to find some way to format this more tightly as supposedly the human eye struggles to read lines of text greater than about 20 lines long, but there must be some way that's easier than inserting break elements into the text. This also needs to be more centrally situated, but that's for later.</p>
			</div>
		</div>		

	</div>
</div>

{% endblock %}